<h1 align="center">All the Categories</h1>

<div align="center">
  <%= will_paginate %>
  <% @categories.each do |c| %>
    <ul class="listing">
      <div class="row">
        <div class="well col-md-6 col-md-offset-3">
          <li class="article-title">
            <%= link_to c.name, category_path(c) %>
          </li>
        </div>
      </div>
    </ul>
  <% end %>
  <%= will_paginate %>
</div>